<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>博客分类页面</title>
    <link href="../static/lib/Semantic-UI-CSS-master/semantic.css" rel="stylesheet">
    <!--自定义样式-->
    <link href="../static/css/me.css" rel="stylesheet">

</head>
<body>
<!--1、导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a class="item m-item m-mobile-hide" href="#"><i class="home icon"></i> 首页</a>
            <a class="item active m-item m-mobile-hide" href="#"><i class="idea icon"></i> 分类</a>
            <a class="item m-item m-mobile-hide" href="#"><i class="tags icon"></i> 标签</a>
            <a class="item m-item m-mobile-hide" href="#"><i class="clone icon"></i> 归档</a>
            <a class="item m-item m-mobile-hide" href="#"><i class="info icon"></i> 关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input placeholder="Search..." type="text">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--手机端的菜单按钮-->
    <a class="ui menu toggle black icon button m-right-top m-mobile-show" href="#">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--2、中间内容部分-->
<div class="m-padded-tb-big m-container">
    <div class="ui container">
        <!--头部-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin"> 14 </h2> 个
                </div>
            </div>
        </div>
        <!--标签内容-->
        <div class="ui attached segment m-padded-tb-large">
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic teal button" href="#">工具介绍</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic button" href="#">开发手册</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic teal button" href="#">工具介绍</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic button" href="#">开发手册</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic teal button" href="#">工具介绍</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic button" href="#">开发手册</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic teal button" href="#">工具介绍</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic button" href="#">开发手册</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic teal button" href="#">工具介绍</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic button" href="#">开发手册</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic button" href="#">开发手册</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a class="ui basic button" href="#">开发手册</a>
                <div class="ui basic left pointing label">24</div>
            </div>
        </div>

        <!--博客列表-->
        <div class="ui top attached segment teal">
            <div class="ui padded vertical segment m-padded-tb-large m-padded-lr-clear">
                <!--stackable mobile reversed手机端一列，图片反转-->
                <div class="ui stackable mobile reversed grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的会使用IDEA吗</h3>
                        <p class="m-text">作为一个新手必须掌握的IDEA工具的正确使用方法，具体使用步骤如下：1、打卡软件2、创建项目、3、安装插件、4、玩转IDEA</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img alt="" class="ui avatar image"
                                             src="https://unsplash.it/100/100?image=1005">
                                        <div class="content"><a class="header" href="#">Zcl</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2022-6-4
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2000
                                    </div>
                                </div>
                            </div>
                            <!--标签按钮-->
                            <div class="right aligned five wide column">
                                <a class="ui teal basic label m-padded-tb-tiny m-text-thin" href="#"
                                   target="_blank">认知知识</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img alt="" class="ui rounded image" src="https://unsplash.it/800/450?image=1005">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-padded-lr-clear">
                <!--stackable mobile reversed手机端一列，图片反转-->
                <div class="ui stackable mobile reversed grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的会使用IDEA吗</h3>
                        <p class="m-text">作为一个新手必须掌握的IDEA工具的正确使用方法，具体使用步骤如下：1、打卡软件2、创建项目、3、安装插件、4、玩转IDEA</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img alt="" class="ui avatar image"
                                             src="https://unsplash.it/100/100?image=1005">
                                        <div class="content"><a class="header" href="#">Zcl</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2022-6-4
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2000
                                    </div>
                                </div>
                            </div>
                            <!--标签按钮-->
                            <div class="right aligned five wide column">
                                <a class="ui teal basic label m-padded-tb-tiny m-text-thin" href="#"
                                   target="_blank">认知知识</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img alt="" class="ui rounded image" src="https://unsplash.it/800/450?image=1005">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-padded-lr-clear">
                <!--stackable mobile reversed手机端一列，图片反转-->
                <div class="ui stackable mobile reversed grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的会使用IDEA吗</h3>
                        <p class="m-text">作为一个新手必须掌握的IDEA工具的正确使用方法，具体使用步骤如下：1、打卡软件2、创建项目、3、安装插件、4、玩转IDEA</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img alt="" class="ui avatar image"
                                             src="https://unsplash.it/100/100?image=1005">
                                        <div class="content"><a class="header" href="#">Zcl</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2022-6-4
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2000
                                    </div>
                                </div>
                            </div>
                            <!--标签按钮-->
                            <div class="right aligned five wide column">
                                <a class="ui teal basic label m-padded-tb-tiny m-text-thin" href="#"
                                   target="_blank">认知知识</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img alt="" class="ui rounded image" src="https://unsplash.it/800/450?image=1005">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-padded-lr-clear">
                <!--stackable mobile reversed手机端一列，图片反转-->
                <div class="ui stackable mobile reversed grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的会使用IDEA吗</h3>
                        <p class="m-text">作为一个新手必须掌握的IDEA工具的正确使用方法，具体使用步骤如下：1、打卡软件2、创建项目、3、安装插件、4、玩转IDEA</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img alt="" class="ui avatar image"
                                             src="https://unsplash.it/100/100?image=1005">
                                        <div class="content"><a class="header" href="#">Zcl</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2022-6-4
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2000
                                    </div>
                                </div>
                            </div>
                            <!--标签按钮-->
                            <div class="right aligned five wide column">
                                <a class="ui teal basic label m-padded-tb-tiny m-text-thin" href="#"
                                   target="_blank">认知知识</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img alt="" class="ui rounded image" src="https://unsplash.it/800/450?image=1005">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-padded-lr-clear">
                <!--stackable mobile reversed手机端一列，图片反转-->
                <div class="ui stackable mobile reversed grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的会使用IDEA吗</h3>
                        <p class="m-text">作为一个新手必须掌握的IDEA工具的正确使用方法，具体使用步骤如下：1、打卡软件2、创建项目、3、安装插件、4、玩转IDEA</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img alt="" class="ui avatar image"
                                             src="https://unsplash.it/100/100?image=1005">
                                        <div class="content"><a class="header" href="#">Zcl</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2022-6-4
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2000
                                    </div>
                                </div>
                            </div>
                            <!--标签按钮-->
                            <div class="right aligned five wide column">
                                <a class="ui teal basic label m-padded-tb-tiny m-text-thin" href="#"
                                   target="_blank">认知知识</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img alt="" class="ui rounded image" src="https://unsplash.it/800/450?image=1005">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-padded-lr-clear">
                <!--stackable mobile reversed手机端一列，图片反转-->
                <div class="ui stackable mobile reversed grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的会使用IDEA吗</h3>
                        <p class="m-text">作为一个新手必须掌握的IDEA工具的正确使用方法，具体使用步骤如下：1、打卡软件2、创建项目、3、安装插件、4、玩转IDEA</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img alt="" class="ui avatar image"
                                             src="https://unsplash.it/100/100?image=1005">
                                        <div class="content"><a class="header" href="#">Zcl</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2022-6-4
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2000
                                    </div>
                                </div>
                            </div>
                            <!--标签按钮-->
                            <div class="right aligned five wide column">
                                <a class="ui teal basic label m-padded-tb-tiny m-text-thin" href="#"
                                   target="_blank">认知知识</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img alt="" class="ui rounded image" src="https://unsplash.it/800/450?image=1005">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--底部分页-->
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a class="ui mini teal basic button" href="#">上一页</a>
                </div>
                <div class="right aligned column">
                    <a class="ui mini teal basic button" href="#">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--3、底部-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img class="ui rounded images" src="../static/images/weixin.jpg" style="width: 125px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted like list m-opacity-mini">
                    <a class="item" href="#">《IDEA的使用》</a>
                    <a class="item" href="#">《插件的按住》</a>
                    <a class="item" href="#">《每日知识》</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我们</h4>
                <div class="ui inverted like list m-opacity-mini">
                    <a class="item" href="#">电话：1236854522</a>
                    <a class="item" href="#">微信：weixin123</a>
                    <a class="item" href="#">邮箱：35125@qq.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">关于我</h4>
                <p class="item m-text-thin m-text-spaced m-opacity-tiny">
                    这是我的一个个人博客系统学习，会分享我的所有编程之路和项目实战笔记以及源码信息，如有需要的可以添加我的微信联系获取
                </p>
            </div>
        </div>
        <!--分割线-->
        <div class="ui divider" style="margin-top: 30px;"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright @ 2022 - 2028 ZCL Designed by ZCL</p>
    </div>
</footer>

<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/lib/Semantic-UI-CSS-master/semantic.js"></script>
<script>
    // 点击手机端菜单显示
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>